body{
    background-image: url("https://wallpapercave.com/wp/wp2587177.jpg");
    background-size: cover;
    font-family: 'Pirata One', cursive;
    
}
.heading{
  background-color: black;
  color: white;
  width: 80%;
  margin: 0px;
  box-shadow:10px 10px 10px turquoise;
  border-radius: 20px;
  padding-bottom: 10px;

}
.div1{
    background-color: white;
    color: black;
    float: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    font-size: 25px;
}
.div2{
    font-size: 22px;
    background-color: black;
    color: aqua;
    border-radius: 22px;
}